/* ===================================================
   1. VARIABLES DE MARCA
=================================================== */

/* Colores de establecidos durante el estudio*/
:root {
  /* Neutros */
  --color-bg: #FAFAF9;
  --color-white: #FFFFFF;
  --color-text-main: #2E2E2E;
  --color-text-muted: #7A7A7A;

  /* Marca */
  --color-primary: #2AAE8A;
  --color-primary-hover: #27896F;
  --color-secondary: #F4C95D;

  /* Superficies */
  --color-surface: #EDEBE6;
  --color-surface-alt: #D9EFE8;

  /* Tipografía y layout */
  --font-primary: 'Inter', Arial, sans-serif;
  --max-width: 1200px;

  /*Niveles*/
  --color-alta: #ff0000;
}


/* ===================================================
   2. RESET Y ESTILOS BASE
=================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  color: var(--color-text-main);
  background-color: var(--color-bg);
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* ===================================================
   3. TIPOGRAFÍA
=================================================== */

h1,
h2,
h3 {
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1em;
}


/* ===================================================
   4. LAYOUT GENERAL
=================================================== */

main {
  padding: 1.5rem;
}

section {
  margin-bottom: 3rem;
}


/* ===================================================
   5. ENCABEZADO Y NAVEGACIÓN
=================================================== */

.site-header {
  background-color: var(--color-text-main);
  color: var(--color-white);
  width: 100%;
}

.header-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;  
  gap: 1rem;
}

.header-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-cta{
  width: 100%;
}

.logo{
  width: 20%;
}

.slogan {
  font-weight: 700;
  font-size: 1.2rem;
  width: 50%;  
}

/*.main-nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  text-align: center;
}*/

.main-nav a {
  padding: 0.5rem;  
}

.main-nav a:focus-visible,
.main-nav a:hover {
  outline: 2px solid var(--color-secondary);
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--color-white);
  cursor: pointer;
}

.main-nav {
  display: none;
}

.main-nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.main-nav.is-open {
  display: block;
}

/* ===================================================
   6. COMPONENTES REUTILIZABLES
=================================================== */

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  border-radius: 4px;
  text-align: center;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-primary:hover,
.btn-primary:focus-visible {
  background-color: var(--color-primary-hover);;
}

.btn-secondary {
  border: 2px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.btn-secondary:hover,
.btn-secondary:focus-visible {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.icono,
.icono-dificultad {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background-color: var(--color-primary-hover);
  border-radius: 3px;
}

.icono-amburguesa{
  width: 30px;
  height: 30px;
  margin-top: 0.5rem;
}

.etiqueta{
  font-weight: 600;
}

.cursiva{
  font-style: italic;
  line-height: 1.6;
}

.nivel-dificultad-media {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nivel-dificultad-baja {
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nivel-dificultad-alta {
  color: var(--color-alta);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/*.icono-dificultad{
  width: 30px;
  height: 30px;
  background-color: var(--color-primary-hover);
  border-radius: 3px;
}*/
/* ===================================================
   7. HOME – SECCIONES ESPECÍFICAS
=================================================== */

.hero {
  background-color: var(--color-text-main);
  color: var(--color-white);
  padding: 3rem 1.5rem;
  text-align: center;
  /* Con las siguientes líneas posicionamos el botón de acción en la parte 
  inferior del contenedor div */
  display: flex;
  align-items: flex-end;      
  width: 100%;
  height: 300px;
  
  /* 'cover' para que cubra todo el div, 'contain' para que quepa entera */
  background-size: cover; 
  /* Centra la imagen */
  background-position: center; 
  /* Evita que la imagen se repita */
  background-repeat: no-repeat; 
}

.index{
   /* Ruta de tu imagen */
  background-image: url('../assets/images/Panorama_Teide_BW.jpg');
}

.about{
   /* Ruta de tu imagen */
  background-image: url('../assets/images/Pano06.jpg'); 
  align-items: start;
}

.activities{
  /* Ruta de tu imagen */
  background-image: url('../assets/images/Cabecera_Actividades.jpg');
  align-items: start;
}

.community{
  /* Ruta de tu imagen */
  background-image: url('../assets/images/Cabecera_comunidad.jpg');
  align-items: start;
}
/*.about h2{
  font-size: 3rem;
  background-color: rgba(130, 110, 96, 0.5);
  margin: 0;
  border-radius: 5px;  
  padding: 5px;  
}*/

.hero-content h1{
  font-size: 3rem;
  /*He utilizado un color RGBA para aplicar transparencia únicamente al fondo, manteniendo la legibilidad del texto*/
  background-color: rgba(42, 174, 138, 0.5);
  margin-top: 0;
  border-radius: 5px;
  padding: 5px;  
}

.hero p {
  max-width: 600px;
  margin: 1rem auto 2rem;  
}

.intro {
  max-width: 700px;
}

.seccion .seccion_lista {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.seccion .seccion_lista_acceso {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.seccion .seccion_lista_que {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.seccion .seccion_lista_actividades {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.seccion .seccion_lista_rutas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.seccion .seccion_lista_testimonios {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.seccion .seccion_lista_historia {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.historia{
  position: relative;
  padding: 3rem 1.5rem;
  background-image: url('../assets/images/Historia-01.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}

/* Capa de contraste */
.historia::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.historia-contenido {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.seccion .seccion_lista_cronica {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.seccion .seccion_lista_equipo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.seccion .seccion_lista_galeria {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.seccion .seccion_lista_videos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.seccion .seccion_lista_historias {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.tarjeta_sin_borde {
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 6px;
}

.tarjeta_con_borde {
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 6px;
  /*border: 3px, solid, var(--color-primary);*/
  border-color: var(--color-primary);
  border-style: solid;
  border-width: 3px;
}

.actividad{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-white);
  position: relative;
}

/*Para que el icono y el texto estén en la misma línea*/
.actividad .nivel-dificultad,
.punto-encuentro{
  display: flex;
  gap: 10px;
}

/*Capa para que el texto sea legible*/
.actividad::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 6px;
}

.actividad > * {
  position: relative;
}

/* Fondos individuales */
.ruta-infierno {
  background-image: url('../assets/images/Actividades-BarrancoDelInfierno.jpg');
}

.ruta-anaga {
  background-image: url('../assets/images/Actividades-AnagaChinamada.jpg');
}

.ruta-sentidos {
  background-image: url('../assets/images/Actividades-SenderoSentidos.jpg');
}

.quehacemos-01{
  background-image: url('../assets/images/QueHacemos-01.jpg');
}

.quehacemos-02{
  background-image: url('../assets/images/QueHacemos-02.jpg');
}

.quehacemos-03{
  background-image: url('../assets/images/QueHacemos-03.jpg');
}

.accesorapido-01{
  background-image: url('../assets/images/AccesoRapido-01.jpg');
}

.accesorapido-02{
  background-image: url('../assets/images/AccesoRapido-02.jpg');
}

.accesorapido-03{
  background-image: url('../assets/images/AccesoRapido-03.jpg');
}

.galeria{
  padding: 0;
}

.galeria-01{
  background-image: url('../assets/images/Galeria-01-Samarines-Candelaria-Tenerife.jpg');
  height: 400px;  
}

.galeria-02{
  background-image: url('../assets/images/Galeria-02-Monte-del-Agua.jpg');
  height: 400px;
}

.galeria-03{
  background-image: url('../assets/images/Galeria-03-MontañaChinyero-ElTanque.webp');
  height: 400px;
}

.galeria-04{
  background-image: url('../assets/images/Galeria-04-BarrandoDelInfierno.webp');
  height: 400px;
}

.testimonio {
  text-align: left;
}

/*.seccion_lista .izquierda{
  max-width: 70%;
}

.seccion_lista .derecha{
  max-width: 30%;
}*/

/*.historia{
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
}*/

.tarjeta_sin_borde .filosofia{
  max-width: 50%;
  grid-template-columns: repeat(2, 1fr);
}
/*
.que_hacemos .que_hacemos_lista {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.actividades_destacadas .actividades_destacadas_lista {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}*/

.redondo{
  border-radius: 90px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.equipo{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.persona{
  position: relative;
  width: 170px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.foto_galeria{
  position: relative;  
  overflow: hidden;
  border-radius: 10px;
}

.video{
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.persona img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.persona_datos,
.galeria_datos,
.video_datos{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(46, 46, 46, 0.6);
  color: var(--color-white);
  padding: 10px;
  text-align: center;
}

.video img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*.video_datos{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(46, 46, 46, 0.6);
  color: var(--color-white);
  padding: 10px;
  text-align: center;
}*/

.equipo_datos h3{
  margin: 0;
  font-size: 18px;
}

.equipo_datos p{
  margin: 5px 0 0;
  font-size: 14px;
}
/*
.perfil{
  display: flex;
  align-items: flex-end;      
  width: 100%; 
  /*padding: 3rem 1.5rem;
  text-align: center; 
}*/
/*
.foto_perfil{
  border-radius: 20px;
  max-width: 90%;  
}*/
/*
.testimonios .testimonios_lista {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}*/

.community-preview {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 6px;
  text-align: center;
}

.cta {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 2.5rem 1.5rem;
  text-align: center;
}

.hero-content {
    display: flex;
    justify-content: space-between;    
}


/* ===================================================
   8. PIÉ DE PÁGINA
=================================================== */

.pie_del_sitio {  
  background-color: var(--color-text-main);
  color: var(--color-white);
  width: 100%;
}

.footer-container {
  max-width: var(--max-width);  
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;  
  gap: 1rem;
}

.web-menu {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.pie_menu_de_lista{
  width: 25%;
}

.icono_con_texto {
  display: flex;
  flex-direction: row;
  /*gap: 1.5rem;*/
  align-items: center;
  border: var(--color-primary);
  border-style: solid;
  border-radius: 5px;
  width: 25%;  
  padding: 0px;
  background-color: var(--color-surface);
}

.texto_del_icono {
  font-size: 0.5rem;
  margin-block-start: 0px;
  margin-block-end: 0px;  
  margin-bottom: 0px;
  text-align: center;  
  display: none;
}

.centrado{
  text-align: center;
}


/* ===================================================
   9. MEDIA QUERIES – VERSIÓN DE ESCRITORIO
=================================================== */

@media (min-width: 1024px) {

  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-bottom{
    display: flex;
    justify-content: flex-end;
  }

  .header-cta{
    width: auto;
  }

  .main-nav ul {
    flex-direction: row;
    gap: 1.5rem;
  }

  main {
    flex-direction: row;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .seccion .seccion_lista{
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .seccion .seccion_lista_acceso{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .seccion .seccion_lista_que{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .seccion .seccion_lista_actividades{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .seccion .seccion_lista_rutas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .seccion .seccion_lista_testimonios{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .seccion .seccion_lista_historia {    
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .seccion .seccion_lista_equipo{
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .seccion .seccion_lista_galeria{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .seccion .seccion_lista_historias{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .tarjeta_sin_borde {
    flex: 1;
  }

  .tarjeta_sin_borde .filosofia{
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .tarjeta_con_borde {
    flex: 1;
  }

  /*.icono_con_texto {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    color: var(--color-text-main);
    border-style: solid;
    border-radius: 5px;
    width: 60%;  
    padding: 3px;
    color: #DBC3A7;
  }*/
  .icono_con_texto {
    width: 60%;
    padding: 3px;
    color: var(--color-text-main);
  }
  
  .icono_con_texto a{
    display: flex;
    flex-direction: row;
  }

/*
  .texto_del_icono {  
    font-family: var(--font-primary);
    font-size: 1.5rem;
    margin-block-start: 0px;
    margin-block-end: 0px;  
    margin-bottom: 0px;
    text-align: center;    
    display: flex;
    color: #1A1A1A;
  }*/

  .texto_del_icono {
    font-size: 1.5rem;
    display: flex;
    color: var(--color-white);
  }

  .historia-contenido {
    column-count: 2;
    column-gap: 3rem;
  }

  .historia-contenido h2 {
    column-span: all;
    margin-bottom: 2rem;
  }

    .menu-toggle {
    display: none;
  }

  .main-nav {
    display: block;
  }

  .main-nav ul {
    flex-direction: row;
    gap: 1.5rem;
  }

  /*.que_hacemos .que_hacemos_lista {
    flex-direction: row;
  }*/
    
  /*
  .actividades_destacadas .actividades_destacadas_lista {
    flex-direction: row;
  }

  .actividades_destacadas_tarjeta {
    flex: 1;
  }

  .testimonios .testimonios_lista {
    flex-direction: row;
  }*/

}
